<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
 <head>
<!--
  <style type="text/css" media="all">
	@import "templates/widg/css/main.css";
	@import "templates/widg/css/widgEditor.css";
  </style>
-->
  <style>
  <TMPL_INCLUDE NAME="common.css">
  </style>
  <title>CCPS Inventory - New record </title>
 </head>
 <body>
 
<TMPL_IF NAME="sql_success">
     <h1>Insert Successful!</h1>
     <p id="sql-success-text">
      Your update as been merged into the database affecting <TMPL_VAR NAME="sql_success"> rows.
     </p>
     <p id="sql-success-text">
      You may view the updated record and make corrections below or return to the <a href="report.pl">school selection page</a>.
     </p>
    
</TMPL_IF>

<TMPL_IF NAME="sql_error">
     <h1>Your changes were not saved!</h1>
     <p id="sql-error-text" style="width: 690px;">
      An SQL Error occured (see below) and your changes were <b>not</b> inserted into the database. If you can tell what went wrong, correct it and resubmit the update. If not, save this page and contact your system administrator.
     </p>
</TMPL_IF>
<TMPL_LOOP NAME="sql_error">
     <ul style="color:red;">
      <li><TMPL_VAR ESCAPE="html" NAME="error"></li>
     </ul>
</TMPL_LOOP>

 <span id="page-title">Charles County Public Schools Inventory</span>
 <form name="update" method="post" action="<TMPL_VAR NAME="self_url">">
  <input type="hidden" name="app" value="inventory">
  <input type="hidden" name="mode" value="create">

 <div id="editablefields">
       School:
       <select name="school" size="1">
<TMPL_LOOP NAME="school_loop">
        <option value="<TMPL_VAR ESCAPE="html" NAME="txt">"<TMPL_VAR ESCAPE="html" NAME="sel">><TMPL_VAR ESCAPE="html" NAME="lbl"></option>
</TMPL_LOOP>
       </select><br />
       Barcode: <input type="text" name="ccps" value="<TMPL_VAR NAME="ccps">" /><br />

       Equipment Type: 
      <select name="inventory_hardware_type">
<TMPL_LOOP NAME="hardware_type_loop">
        <option value="<TMPL_VAR ESCAPE="html" NAME="txt">"<TMPL_VAR ESCAPE="html" NAME="sel">><TMPL_VAR ESCAPE="html" NAME="lbl"></option>
</TMPL_LOOP>
       </select><br />

Model: 
<select name="equipment_model">
<TMPL_LOOP NAME="model_loop">
        <option value="<TMPL_VAR ESCAPE="html" NAME="txt">"<TMPL_VAR ESCAPE="html" NAME="sel">><TMPL_VAR ESCAPE="html" NAME="lbl"></option>
</TMPL_LOOP>
</select><br />
OS:
<select name="software_os">
<TMPL_LOOP NAME="os_loop">
        <option value="<TMPL_VAR ESCAPE="html" NAME="txt">"<TMPL_VAR ESCAPE="html" NAME="sel">><TMPL_VAR ESCAPE="html" NAME="lbl"></option>
</TMPL_LOOP>
</select><br />
       Computer Name: <input type="text" name="inventory_name" value="<TMPL_VAR NAME="inventory_name">" /><br />
       MAC: <input type="text" name="inventory_mac" value="<TMPL_VAR NAME="inventory_mac">" /><br />
       Serial: <input type="text" name="inventory_serial" value="<TMPL_VAR NAME="inventory_serial">" /><br />
       User: <input type="text" name="inventory_assigned" value="<TMPL_VAR NAME="inventory_assigned">" /><br />
       Location: <input type="text" name="inventory_location" value="<TMPL_VAR NAME="inventory_location">" /><br />
       Port: <input type="text" name="inventory_port" value="<TMPL_VAR NAME="inventory_port">" /><br />
       Replaced Date (if any): <input type="text" name="replacement_date" value="<TMPL_VAR NAME="replacement_date">"<br/>
       Installed By: <input type="text" name="inventory_installer" value="<TMPL_VAR NAME="inventory_installer">" /><br />
<br />
 </div>
<input type="submit" value="Add">
</form>
 </body>
</html>
