<html>
 <head>
  <title> Search </title>
 </head>
 <body onload="javascript:document.report.query0.focus();return true">
  <form name="report" action="report.pl<TMPL_IF NAME="cfg">?cfg=<TMPL_VAR NAME="cfg"></TMPL_IF>" method="post">
   <TMPL_IF NAME="cfg"><input type="hidden" value="<TMPL_VAR NAME="cfg">" name="cfg" /></TMPL_IF>
   <input type="hidden" value="inventory" name="app" />
   <input type="hidden" value="report" name="mode" />

   <!-- lookup by school -->
   <input type="hidden" value="schoolnumber" name="field0" />
   <input type="hidden" value="is" name="comparison0" />
   <input type="hidden" value="and" name="andor0" />
   <input type="hidden" value="schoolnumber" name="sort0" />
   School:
   <select name="query0">
    <option value="">Any</option>
<TMPL_LOOP NAME="school">
    <option value="<TMPL_VAR NAME="txt">"<TMPL_VAR NAME="sel">><TMPL_VAR NAME="lbl"></option>
</TMPL_LOOP>
   </select><br />

   <!-- lookup by barcode -->
   <input type="hidden" value="ccps" name="field1" />
   <input type="hidden" value="is" name="comparison1" />
   <input type="hidden" value="and" name="andor1" />
   <input type="hidden" value="ccps" name="sort1" />
   Barcode: <input type="text" name="query1" value="" /><br />

   <!-- lookup by serial -->
   <input type="hidden" value="serial" name="field2" />
   <input type="hidden" value="begins" name="comparison2" />
   <input type="hidden" value="and" name="andor2" />
   <input type="hidden" value="serial" name="sort2" />
   Serial: <input type="text" name="query2" value="" /><br />

   <!-- lookup by MAC -->
   <input type="hidden" value="mac" name="field3" />
   <input type="hidden" value="begins" name="comparison3" />
   <input type="hidden" value="and" name="andor3" />
   <input type="hidden" value="mac" name="sort3" />
   MAC: <input type="text" name="query3" value="" /><br />

   <!-- lookup by vendor -->
   <input type="hidden" value="vendor" name="field4" />
   <input type="hidden" value="like" name="comparison4" />
   <input type="hidden" value="and" name="andor4" />
   <input type="hidden" value="vendor" name="sort4" />
   Vendor: <input type="text" name="query4" value="" /><br />

   <input type="hidden" value="hardwaretype" name="field5" />
   <input type="hidden" value="is" name="comparison5" />
   <input type="hidden" value="and" name="andor5" />
   <input type="hidden" value="hardwaretype" name="sort5" />
   Type:
   <select name="query5">
    <option value="">Any</option>
<TMPL_LOOP NAME="hwtype">
    <option value="<TMPL_VAR NAME="txt">"<TMPL_VAR NAME="sel">><TMPL_VAR NAME="lbl"></option>
</TMPL_LOOP>
   </select><br />

   <input type="submit" value="Look up equipment">
  </form>

  <hr />
  <a href="<TMPL_VAR NAME="self_url">?app=inventory&mode=custom">Custom Report</a>

  <div id="linkage" style="text-align:center;">
   <a href="http://helpdesk.ccboe.com/">Return to Main Page</a>
  </div>
 </body>
</html>
