		<div id="login_box">
			<span id="login_title">Login</span>
			<form id="login_form" action="customer_authenticate.pl" method="POST">
				<label for="username">Username:</label><input type="text" id="username" name="username"><br>
				<label for="password">Password:</label><input type="password" id="password" name="password"><br>
				<input type="submit" id="submit_button" value="Login">
			</form>
		</div>