<!DOCTYPE html>
<html>
	<head>
		<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=ISO-8859-1">
		<META name="keywords" content="[% keywords %]">
		<META name="description" content="[% description %]">
		<title>[% title %]</title>
		<link rel="stylesheet" href="styles/common/bootstrap.min.css" type="text/css" media="screen">
		<link rel="stylesheet" href="styles/smoothness/jquery-ui-1.8.6.custom.css" type="text/css" media="screen">
		<link rel="stylesheet" href="styles/layout.css" type="text/css" media="screen">
		[% FOREACH style IN styles %]
		<link rel="stylesheet" href="[% style %]" type="text/css" media="screen">
		[% END %]
		<!--[if lt IE 9]>
		<style type="text/css" media="screen">
			ul.topnav li ul.subnav {
				background-color: #333;
			}
			html ul.topnav li ul.subnav li a {
				background-color: #333;
			}
		</style>
		<![endif]-->
		<script type="text/javascript" src="javascripts/common/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="javascripts/common/jquery/jquery_ui/jquery-ui.min.js"></script>
		<script type="text/javascript" src="javascripts/common/bootstrap.min.js"></script>
		<script type="text/javascript" src="javascripts/jquery.scrollabletab.js"></script>
		<script type="text/javascript" src="javascripts/jquery.livequery.js"></script>
		<script type="text/javascript" src="javascripts/jquery.hoverIntent.minified.js"></script>
		[% FOREACH javascript IN javascripts %]
		<script type="text/javascript" src="[% javascript %]"></script>
		[% END %]
		<script type="text/javascript" src="javascripts/jquery.cookie.js"></script>
		<script type="text/javascript">
		</script>
	</head>
	<body>
