		<div id="server_status">In this box will be current information about the server.  CPU usage, Memory Usage, Is the database running, etc....  It will be loaded by ajax from a little perl script.</div>
		<div id="current_critical">This box will have a list of the current open critical items.  It will be loaded through ajax on a timer.</div>
		<div id="agents_working">This box will show other agents/technicians logged in and working</div>
		<div id="closure_info">This box will have closure information and possibly customer survey results.  I think it should have a tabbing system that allows the user to switch between Ticket Closure, Work Order Closure, Last 10 Customer Surveys</div>