<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
 <head>
  <style type="text/css">
   <TMPL_IF NAME="errors">
    .highlightonerror{
	border-style:solid;
	border-color:red;
	border-width:2px;
	font-weight:bold;
    }
   </TMPL_IF>
  </style>
  <title>Charles County Public Schools Equipment - New</title>
 </head>
 <body>
 <b><TMPL_VAR NAME="catch_errors"></b><br/>
 <span id="page-title">Charles County Public Schools Equipment - New</span>
 <form name="create" method="post" action="<TMPL_VAR NAME="self_url">">
  <input type="hidden" name="mode" value="create">
  <input type="hidden" name="app" value="equipment">
  <div id="body-head">

<TMPL_IF NAME="sql_error">
   <h1>An SQL error occured!</h1>
   <p>Please save this page and contact your system administrator.</p>
 <TMPL_LOOP NAME="sql_error">
   <p><TMPL_VAR NAME="error"></p>
 </TMPL_LOOP>
</TMPL_IF>

<TMPL_IF NAME="errors">
   <div id="errors">
    <h1>Errors occured while processing your request</h1>
    <p>Your request was not submitted. Please correct the following errors and resubmit.</p>

 <TMPL_LOOP NAME="errors">
    <p><b><TMPL_VAR ESCAPE="html" NAME="name"></b> <TMPL_VAR ESCAPE="html" NAME="msg">.</p>
 </TMPL_LOOP>

    <p>Incorrectly filled out fields have been highlighted in red.</p>
   </div>
</TMPL_IF>

   <div id="fields">
  Vendor: 
  <select name="vendor" size="1">
<TMPL_LOOP NAME="vendor_loop">
        <option value="<TMPL_VAR ESCAPE="html" NAME="txt">"<TMPL_VAR ESCAPE="html" NAME="sel">><TMPL_VAR ESCAPE="html" NAME="lbl"></option>
</TMPL_LOOP>
  </select><br />
  Hardware Type: 
  <select name="type" size="1">
<TMPL_LOOP NAME="type_loop">
        <option value="<TMPL_VAR ESCAPE="html" NAME="txt">"<TMPL_VAR ESCAPE="html" NAME="sel">><TMPL_VAR ESCAPE="html" NAME="lbl"></option>
</TMPL_LOOP>
  </select><br />
  Operating System:
  <select name="os" size="1">
<TMPL_LOOP NAME="os_loop">
        <option value="<TMPL_VAR ESCAPE="html" NAME="txt">"<TMPL_VAR ESCAPE="html" NAME="sel">><TMPL_VAR ESCAPE="html" NAME="lbl"></option>
</TMPL_LOOP>
  </select><br />
  Office: 
  <select name="office" size="1">
<TMPL_LOOP NAME="office_loop">
        <option value="<TMPL_VAR ESCAPE="html" NAME="txt">"<TMPL_VAR ESCAPE="html" NAME="sel">><TMPL_VAR ESCAPE="html" NAME="lbl"></option>
</TMPL_LOOP>
  </select><br />
  Other software:<textarea rows="10" cols="30" name="software"><TMPL_VAR NAME="software"></textarea><br />
  Model: <input type="text" name="equipment_model" value="<TMPL_VAR NAME="equipment_model">" /></br />
  Cost:
  <select name="cost" size="1">
<TMPL_LOOP NAME="cost_loop">
        <option value="<TMPL_VAR ESCAPE="html" NAME="txt">"<TMPL_VAR ESCAPE="html" NAME="sel">><TMPL_VAR ESCAPE="html" NAME="lbl"></option>
</TMPL_LOOP>
  </select><br />
  Description:<br />
  <textarea rows="10" cols="30" name="equipment_description"><TMPL_VAR NAME="equipment_description"></textarea><br />
  Warranty Info:<br />
  <textarea rows="10" cols="30" name="equipment_warranty"><TMPL_VAR NAME="equipment_warranty"></textarea></br />
  Warranty expiry Date: <input type="text" name="equipment_warranty_date" value="<TMPL_VAR NAME="equipment_warranty_date">" /></br />
  Hard Disk Capacity: <input type="text" name="equipment_hdd" value="<TMPL_VAR NAME="equipment_hdd">" /> (in Gigabytes)</br />
  CPU Speed: <input type="text" name="equipment_speed" value="<TMPL_VAR NAME="equipment_speed">" /> (in Megahertz)</br />
  RAM: <input type="text" name="equipment_ram" value="<TMPL_VAR NAME="equipment_ram">" /> (in Megabytes)</br />
   </div>
   <input type="submit" value="Add">
  </div>
 </form>
 
 <hr style="width: 690px;" align="left">

 <TMPL_IF NAME="debug">
  <p align="center"><b>
   <TMPL_VAR NAME="debug">
  </b></p>
 </TMPL_IF>
 </body>
</html>
