.schedule_div{
	display: none;
	max-width: 75px;
}

input{
	width: 20px;
}

label, span.label{
	margin-bottom: 5px;
	text-shadow: #333 1px 1px 1px;
	white-space: nowrap;
	font-size: .95em;
	display: block;
	max-width: 75px;
}

.styled_form_element{
	padding: 3px;
	border: 1px solid #bfc0c2;
	outline: 0;
	box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #E2E3E5), to(#FFFFFF));  
	background: -moz-linear-gradient(top, #FFFFFF, #E2E3E5 1px, #FFFFFF 25px);
	margin-bottom: 5px;
}

#update_top{
	margin: 15px;
}
