.lower{
	z-index: -1;
}

.error{
	color: red;
	font-size: .7em;
}

#search_form input{
	margin-left: 10px;
}

.dialog{
	display: none;
	text-align: left;
	border:2px solid #333;
	width: 400px;
}

#attach_div{
	width: 270px;
	height: 300px;
	margin-left: 5px;
	margin-top: 5px;
	float: left;
}

#update_form #attach_div{
	float: left;
	display: inline-block;
}

#attach_div label{
	margin: 0px;
	margin-right: 5px;
	cursor: pointer;
}

#attach{
	cursor: pointer;
}

#details{
	margin: auto;
	width: 390px;
	background-color: #fff;
	padding: 5px;
}

.ui-jqgrid{
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;	
}

#behind_popup{
	display:none;
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	z-index:8999;
}

#close_attach{
	float: right;
}