<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <style type="text/css"><!--
	pre.hidden {
	    visibility: hidden;
	    border: 0px;
	    width: 0px;
	    margin: 0px 0px 0px 0px;
	    padding: 0px 0px 0px 0px;
	    line-height: 0px;
	    height: 0px;
	    width: 0px;
	    z-index: 0;
	    position: absolute;
	}
	h4.selectors{
	    padding: 0px 0px 0px 0px;
	    margin: 8px 0px 8px 16px;
	}
  //--></style>

  <style type="text/css" media="print">
   #select{ position: absolute; visibility: hidden; }
   #sort{ position: absolute;  visibility: hidden; }
   #submitbutton{ position: absolute; visibility: hidden; }
   .morebutton{ position: absolute; visibility: hidden; }
   select{ position: absolute; visibility: hidden; }
   input{ position: absolute; visibility: hidden; }
   span.noprint{ position: absolute; visibility: hidden; }
   .noprint{ position: absolute; visibility: hidden; }
    noprint{ position: absolute; visibility: hidden; }
   #noprint{ position: absolute; visibility: hidden; }
  </style>

  <script type="text/javascript"><!--
   var shown = 0 + <TMPL_VAR NAME="filled_fields">;
   var number_of_fields = 0 + <TMPL_VAR NAME="max_fields">;
   function show_another(){
	for(var i = 0;i <= shown;i++){
		if(i != 0){
			showLAYER('and'+(i - 1));
			showLAYER('then'+(i - 1));
			changePon('then'+(i - 1));
		}
		changePon('invis'+i);
		showLAYER('invis'+i);
		changePon('sortinvis'+i);
		showLAYER('sortinvis'+i);

		if(i == number_of_fields){
			changePoff('morebutton');
			hideLAYER('morebutton');
		}
	}
	shown++;
   }

// Suit of LAYER functions. 'show' and 'hide' copied from a Mozilla example.
function changePon(layName){
        if(document.getElementById){
                document.getElementById(layName).style.position='static';
        }
        else if(document.layers){ document.layers[layName].position=='static'; }
        else if(document.all){ document.all(layName).style.position=='static'; }
}
function changePoff(layName){
        if(document.getElementById){
                document.getElementById(layName).style.position='absolute';
        }
        else if(document.layers){ document.layers[layName].position=='absolute'; }
        else if(document.all){ document.all(layName).style.position=='absolute'; }
}
function reportP(layName){
	var v;
        if(document.getElementById){
                v = document.getElementById(layName).style.position='absolute';
        }
        else if(document.layers){ v = document.layers[layName].position=='absolute'; }
        else if(document.all){ v = document.all(layName).style.position=='absolute'; }
	return v;
}

function showLAYER(layName){
        if(document.getElementById){
                document.getElementById(layName).style.visibility='visible';
        }
        else if(document.layers){ document.layers[layName].visibility='show'; }
        else if(document.all){ document.all(layName).style.visibility='visible'; }
}
function hideLAYER(layName){
        if(document.getElementById){
                document.getElementById(layName).style.visibility='hidden';
        }
        else if(document.layers){ document.layers[layName].visibility='hide'; }
        else if(document.all){ document.all(layName).style.visibility='hidden'; }
}
function reportLAYER(layName){
        var result;
        if(document.getElementById){
                result = document.getElementById(layName).style.visibility; }
        else if(document.layers){ result = document.layers[layName].visibility; }
        else if(document.all){ result = document.all(layName).style.visibility; }
        if(result == "show"){ result = "visible"; }
        if(result == "hide"){ result = "hidden"; }
        return result;
}
function toggleLAYER(layName){
        if(reportLAYER(layName) == "hidden"){ showLAYER(layName); }
        else{ hideLAYER(layName); }
}

  //--></script>
  <title> Charles County Public Schools - Report </title>
 </head>
 <body onload="show_another()">
  <div id="topform" style="width:100%;">
  <form name="make_selection" action="<TMPL_VAR NAME="self_url">" method="post">
   <input type="hidden" name="mode" value="report" />
   <input type="hidden" name="app" value="software" />
   <div id="select">
    <h4 class="selectors">Select where</h4>
<TMPL_LOOP NAME="select_fields">
<!--  <span id="invis<TMPL_VAR NAME="seq">" style="visibility:hidden;position:absolute;clip:rect{0px 0px 0px 0px};">-->
   <span  id="invis<TMPL_VAR NAME="seq">" style="visibility:hidden;position:absolute;">
    <select name="field<TMPL_VAR NAME="seq">"<TMPL_VAR NAME="selected">>
 <TMPL_LOOP NAME="select_values">
     <option value="<TMPL_VAR NAME="val">"<TMPL_VAR NAME="selected">><TMPL_VAR NAME="txt"></option>
 </TMPL_LOOP>
    </select>

    <select name="comparison<TMPL_VAR NAME="seq">">
 <TMPL_LOOP NAME="select_comparisons">
     <option value="<TMPL_VAR NAME="val">"<TMPL_VAR NAME="selected">><TMPL_VAR NAME="txt"></option>
 </TMPL_LOOP>
    </select>

    <input type="text" name="query<TMPL_VAR NAME="seq">" value="<TMPL_VAR NAME="query">" />
    <span  id="and<TMPL_VAR NAME="seq">" style="visibility:hidden;position:inherit;">
     <select name="andor<TMPL_VAR NAME="seq">">
 <TMPL_LOOP NAME="andor">
      <option value="<TMPL_VAR NAME="val">"<TMPL_VAR NAME="selected">><TMPL_VAR NAME="txt"></option>
 </TMPL_LOOP>
     </select>
    </span>
   </span>
</TMPL_LOOP>
  </div>

  <div id="sort">
   <h4 class="selectors">Sort by</h4>
<TMPL_LOOP NAME="sort_loop">
   <span  id="sortinvis<TMPL_VAR NAME="seq">" style="visibility:hidden;position:absolute;">
    <select name="sort<TMPL_VAR NAME="seq">">
 <TMPL_LOOP NAME="select_sort">
     <option value="<TMPL_VAR NAME="val">"<TMPL_VAR NAME="selected">><TMPL_VAR NAME="txt"></option>
 </TMPL_LOOP>
    </select>
    <span style="position: absolute; visibility: hidden;" id="then<TMPL_VAR NAME="seq">" class="noprint">
     then
    </span>
   </span>
</TMPL_LOOP>
  </div>
   <span  id="morebutton">
    <input type="button" value="More" onClick="show_another()" />
   </span>
   <div id="submitbutton">
    <input type="submit" value="Report" />
   </div>
  </form>
  </div>

<TMPL_IF NAME="showresults">
 <TMPL_IF NAME="row">
 <table border="1">
  <tr>
  <TMPL_LOOP NAME="header">
   <td><TMPL_VAR NAME="name"></td>
  </TMPL_LOOP>
  </tr>
  <TMPL_LOOP NAME="row">
  <tr>
   <TMPL_LOOP NAME="col">
   <td>
    <TMPL_VAR NAME="colval">
   </td>
   </TMPL_LOOP>
   <TMPL_LOOP NAME="hcol">
   <input type="hidden" name="<TMPL_VAR NAME="name"><TMPL_VAR NAME="swid">" value="<TMPL_VAR NAME="value">" />
   </TMPL_LOOP>
   <td>
    <form name="edit<TMPL_VAR NAME="swid">" action="form.pl" method="POST">
     <input type="hidden" name="mode" value="edit" />
     <input type="hidden" name="app" value="software" />
     <input type="hidden" name="swid" value="<TMPL_VAR NAME="swid">" />
     <input type="submit" value="Edit" />
    </form>
   </td>
  </tr>
  </TMPL_LOOP>
 </table>
 </TMPL_IF>
</TMPL_IF>
<TMPL_IF NAME="selected_time">
 <div id="status">
  Selected <TMPL_VAR NAME="selected_rows"> matching records in <TMPL_VAR NAME="selected_time"> seconds.
 </div>
</TMPL_IF>
 <div id="linkage" style="text-align:center" class="noprint">
  <a href="http://helpdesk.ccboe.com/">Return to main page</a> | <a href="<TMPL_VAR NAME="self_url">">Return to School 
Report Page</a>
 </div>
<TMPL_IF NAME="debug">
 <pre>
  <TMPL_VAR NAME="debug">
 </pre>
</TMPL_IF>
 </body>
</html>
