<html>
 <head>
  <title> Search </title>
 </head>
 <body onload="javascript:document.report.query0.focus();return true">
  <form name="report" action="report.pl" method="post">
   <input type="hidden" value="report" name="mode" />
   <input type="hidden" value="helpdesk" name="app" />
   <input type="hidden" value="<TMPL_VAR NAME="cfg">" name="cfg" />

   <input type="hidden" value="schoolname" name="field0" />
   School:
   <select name="query0" tabindex="1">
    <option value="">Any</option>
<TMPL_LOOP NAME="school">
    <option value="<TMPL_VAR NAME="txt">"<TMPL_VAR NAME="sel">><TMPL_VAR NAME="lbl"></option>
</TMPL_LOOP>
   </select>
   <input type="hidden" value="is" name="comparison0" />
   <input type="hidden" value="and" name="andor0" />
   <input type="hidden" value="updated" name="sort0" />

   <input type="hidden" value="ticket_status" name="field1" />
   Status:
   <select name="query1">
<TMPL_LOOP NAME="status">
    <option value="<TMPL_VAR NAME="txt">"<TMPL_VAR NAME="sel">><TMPL_VAR NAME="lbl"></option>
</TMPL_LOOP>
   </select>
   <input type="hidden" value="is" name="comparison1" />
   <input type="hidden" value="and" name="andor1" />
   <input type="hidden" value="section" name="sort1" />

   <input type="hidden" value="section" name="field2" />
   <input type="hidden" value="is" name="comparison2" />
   <input type="hidden" value="and" name="andor2">

   Section:
   <select name="query2">
    <option value="">Any</option>
<TMPL_LOOP NAME="section">
    <option value="<TMPL_VAR NAME="txt">"<TMPL_VAR NAME="sel">><TMPL_VAR NAME="lbl"></option>
</TMPL_LOOP>
   </select>

   <input type="submit" value="Run School Report">
  </form>

  <hr />
  <a href="<TMPL_VAR NAME="self_url">?app=helpdesk&mode=custom">Custom Report</a>

  <hr />
  <form name="date" action="<TMPL_VAR NAME="self_url">" method="post">
   <input type="hidden" value="date" name="mode" />
   School:
   <select name="query1">
    <option value="" selected>Any</option>
<TMPL_LOOP NAME="school">
    <option value="<TMPL_VAR NAME="txt">"<TMPL_VAR NAME="sel">><TMPL_VAR NAME="lbl"></option>
</TMPL_LOOP>
   </select>
   <br />

   <!-- begin date... set to result of: select updated from helpdesk where 1 order by requested desc limit 1 -->


   Begin date:
   <select name="bmonth">
<TMPL_LOOP NAME="bmonth">
    <option value="<TMPL_VAR NAME="txt">"<TMPL_VAR NAME="sel">><TMPL_VAR NAME="lbl"></option>
</TMPL_LOOP>
   </select>
   <select name="bday">
<TMPL_LOOP NAME="bday">
    <option value="<TMPL_VAR NAME="txt">"<TMPL_VAR NAME="sel">><TMPL_VAR NAME="lbl"></option>
</TMPL_LOOP>
   </select>
   <select name="byear">
<TMPL_LOOP NAME="byear">
    <option value="<TMPL_VAR NAME="txt">"<TMPL_VAR NAME="sel">><TMPL_VAR NAME="lbl"></option>
</TMPL_LOOP>
   </select>
   at
   <select name="bhour">
<TMPL_LOOP NAME="bhour">
    <option value="<TMPL_VAR NAME="txt">"<TMPL_VAR NAME="sel">><TMPL_VAR NAME="lbl"></option>
</TMPL_LOOP>
   </select>
   :
   <select name="bminute">
<TMPL_LOOP NAME="bmin">
    <option value="<TMPL_VAR NAME="txt">"<TMPL_VAR NAME="sel">><TMPL_VAR NAME="lbl"></option>
</TMPL_LOOP>
   </select>
   :
   <select name="bsecond">
<TMPL_LOOP NAME="bsec">
    <option value="<TMPL_VAR NAME="txt">"<TMPL_VAR NAME="sel">><TMPL_VAR NAME="lbl"></option>
</TMPL_LOOP>
   </select>

   <br />


   <!-- end date... set to result of: select updated from helpdesk where 1 order by requested asc limit 1 -->

   End date:
   <select name="emonth">
<TMPL_LOOP NAME="emonth">
    <option value="<TMPL_VAR NAME="txt">"<TMPL_VAR NAME="sel">><TMPL_VAR NAME="lbl"></option>
</TMPL_LOOP>
   </select>
   <select name="eday">
<TMPL_LOOP NAME="eday">
    <option value="<TMPL_VAR NAME="txt">"<TMPL_VAR NAME="sel">><TMPL_VAR NAME="lbl"></option>
</TMPL_LOOP>
   </select>
   <select name="eyear">
<TMPL_LOOP NAME="eyear">
    <option value="<TMPL_VAR NAME="txt">"<TMPL_VAR NAME="sel">><TMPL_VAR NAME="lbl"></option>
</TMPL_LOOP>
   </select>
   at
   <select name="ehour">
<TMPL_LOOP NAME="ehour">
    <option value="<TMPL_VAR NAME="txt">"<TMPL_VAR NAME="sel">><TMPL_VAR NAME="lbl"></option>
</TMPL_LOOP>
   </select>
   :
   <select name="eminute">
<TMPL_LOOP NAME="emin">
    <option value="<TMPL_VAR NAME="txt">"<TMPL_VAR NAME="sel">><TMPL_VAR NAME="lbl"></option>
</TMPL_LOOP>
   </select>
   :
   <select name="esecond">
<TMPL_LOOP NAME="esec">
    <option value="<TMPL_VAR NAME="txt">"<TMPL_VAR NAME="sel">><TMPL_VAR NAME="lbl"></option>
</TMPL_LOOP>
   </select>

   <br />
   <input type="submit" value="Run Date Report">
  </form>

  <div id="linkage" style="text-align:center;">
   <a href="http://helpdesk.ccboe.com/">Return to Main Page</a>
  </div>
 </body>
</html>
