<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
 <head>
  <style>
   #helpdesk-ticket-number{font-weight:bold;}
   #page-title{ font-size: 18pt; }
  </style>
  <title>Charles County Public Schools Helpdesk: Request Submitted</title>
 </head>
 <body>
 <span id="page-title">Charles County Public Schools Helpdesk: Request Submitted</span>
  <div id="body-head">
   Ticket submitted. Your ticket number is <span style="font-weight:bold;font-size:14pt;"><TMPL_VAR NAME="ticket_number"></span>. Remember this number, it can be used to view the status of your request.
   <table style="text-align: left; width: 690px; height: 98px;" border="0" cellpadding="0" cellspacing="0">
    <tbody>

     <tr>
      <td>School:</td>
      <td>
        <TMPL_VAR ESCAPE="html" NAME="school_name">
      </td>
      <td></td>
      <td></td>
      <td>Your email address:</td>
      <td style="vertical-align: top;">
       <TMPL_VAR ESCAPE="html" NAME="email">
      </td>
     </tr>

     <tr>
      <td>Author:</td>
      <td><TMPL_VAR ESCAPE="html" NAME="author"></td>
      <td>Contact:</td>
      <td><TMPL_VAR ESCAPE="html" NAME="contact"> </td>
      <td>Contact Phone:</td>
      <td><TMPL_VAR ESCAPE="html" NAME="phone"></td>
     </tr>

     <tr>
      <td>Barcode:</td>
      <td><TMPL_VAR ESCAPE="html" NAME="barcode"></td>
      <td>Serial:</td>
      <td><TMPL_VAR ESCAPE="html" NAME="serial"></td>
      <td>Location:</td>
      <td><TMPL_VAR ESCAPE="html" NAME="location"></td>
      <td>Free Time:</td>
      <td><TMPL_VAR ESCAPE="html" NAME="when_free"></td>
     </tr>

     <tr>
      <td>Priority:</td>
      <td style="vertical-align: top;">
       <TMPL_VAR ESCAPE="html" NAME="priority_name">
      </td>
      <td>Section:</td>
      <td style="vertical-align: top;">
       <TMPL_VAR ESCAPE="html" NAME="section_name">
      </td>
      <td>
       &nbsp;
      </td>
     </tr>

    </tbody>
   </table>
  </div>
  <div id="body_notes">
   <p>
    Problem:<br />
    <TMPL_VAR ESCAPE="html" NAME="problem">
   </p>
   <p>
    Troubleshooting Tried:<br />
    <TMPL_VAR ESCAPE="html" NAME="troubleshoot">
   </p>
  </div>
 </form>
 
 <hr style="width: 690px;" align="left">

 <TMPL_IF NAME="debug">
  <p align="center"><b>
   <TMPL_VAR NAME="debug">
  </b></p>
 </TMPL_IF>
 <div id="linkage" style="text-align:center;">
  <a href="http://helpdesk.ccboe.com/">Return to Main Page</a> | <a href="form.pl?<TMPL_IF NAME="cfg">cfg=<TMPL_VAR NAME="cfg">&</TMPL_IF>app=helpdesk&mode=new">Input Another Ticket</a>
 </div>
 </body>

</html>
