<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
 <head>
  <title>Charles County Public Schools Hardware - Submitted</title>
 </head>
 <body>
 <b><TMPL_VAR NAME="catch_errors"></b><br/>
 <span id="page-title">Charles County Public Schools Hardware: Record Created Successfully</span>
  <div id="body-head">

   <div id="fields">
    Hardware Type ID: <TMPL_VAR NAME="hwid"><br />
    Hardware Type: <TMPL_VAR NAME="hardware_type"><br />
   </div>
  </div>
 
 <hr style="width: 690px;" align="left">
 <form action="form.pl">
  <input type="hidden" name="app" value="hardware">
  <input type="hidden" name="mode" value="edit">
  <input type="hidden" name="hwid" value="<TMPL_VAR NAME="hwid">">
  <input type="submit" value="Modify this record">
 </form>

 <TMPL_IF NAME="debug">
  <p align="center"><b>
   <TMPL_VAR NAME="debug">
  </b></p>
 </TMPL_IF>
 </body>
</html>
