<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
 <head>
  <style>
   #helpdesk-ticket-number{font-weight:bold;}
   #page-title{ font-size: 18pt; }
  </style>
  <title>North Point Helpdesk:: Request Submitted</title>
 </head>
 <body>
 <span id="page-title">North Point Helpdesk: Request Submitted</span>
  <div id="body-head">
   Request submitted. Your ticket number is <span style="font-weight:bold;font-size:14pt;"><TMPL_VAR NAME="ticket_number"></span>. Remember this number, it can be used to view the status of your request.
  </div>
 
 <hr style="width: 690px;" align="left">

 <TMPL_IF NAME="debug">
  <p align="center"><b>
   <TMPL_VAR NAME="debug">
  </b></p>
 </TMPL_IF>
 <div id="linkage" style="text-align:center;">
  <a href="/">Return to Main Page</a> | <a href="form.pl?cfg=northpoint&mode=new">Input Another Ticket</a>
 </div>
 </body>

</html>
