#top{
	height: 500px;
}

#behind_popup{
	display:none;
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	z-index:1;
}

.ui-jqgrid{
	margin-left: auto;
	margin-right: auto;
}
