#login_box{
	height: 180px;
	width: 375px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	padding-top: 20px;
	padding-left: 25px;
	background-color: #bdbdd2;
	border: 3px solid #9696a7;
}

label{
	display: inline-block;
	width: 100px;
	margin-bottom: 10px;
}

#login_button{
	display: block;
	width: 75px;
	margin-left: auto;
	margin-right: auto;
}

#login_title{
	font-size: 1.1em;
	font-weight: bold;
	display: inline-block;
	width: 75px;
	margin-left: 150px;
	margin-bottom: 10px;
}

#customer_admin_form #submit_button{
	width: 120px;
}

#problem_label{
	width: 350px;
}

#left{
	float: left;
	height: 600px;
	width: 19%;
	min-width: 175px;
	border-right: 2px black solid;
	border-bottom: 1px black solid;
}

#right_holder{
	float: left;
	height: 575px;
	width: 75%;
	padding-top: 25px;
	padding-left: 25px;
	border-right: 2px black solid;
	border-bottom: 1px black solid;
}

#right{
	float: left;
	height: 100%;
	overflow: auto;
	width: 100%;
}

.ticket_link{
	margin-left: 60px;
}

#right label{
	width: 180px;
}

label.error{
	color: red;
	font-size: .6em;
	width: auto;
}

input.error{
	color: red;
}

#login_error_message_div{
	margin-top: 10px;
	margin-right: 30px;
}

#login_error_message{
	color: red;
	font-size: .7em;
}

.even{
	background-color: #efefef;
}

.odd{
	background-color: #dcdcdc;

}

#welcome_message{
	width: 500px;
	margin-top: 15px;
	margin-right:auto;
	margin-left: auto;
	text-align: center;
	font-size: .9em;
}

.customer_link{
	text-decoration: none;
	font-size: .9em;
	font-weight: bold;
	color: white;
	min-width: 150px;
	height: 25px;
	padding-top: 5px;
	display: inline-block;
	text-align: center;
}