#login_box{
	height: 180px;
	width: 375px;
	color: white;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	padding-top: 20px;
	padding-left: 25px;
	background-color: #333;
	background-image: url('../images/login_box_gradient.jpg');
	background-repeat: repeat-x;
	border: 3px ridge #333;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

label{
	display: inline-block;
	width: 100px;
	margin-bottom: 10px;
	margin-right: 10px;
	text-align: right;
}

input{
	vertical-align: top;
}

#login_button{
	display: block;
	width: 75px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

#login_title{
	font-size: 1.1em;
	font-weight: bold;
	display: inline-block;
	width: 75px;
	margin-left: 150px;
	margin-bottom: 10px;
}

#problem_label{
	width: 330px;
}

#low_resolution_warning{
	margin-top: 10px;
	font-size: 1.1em;
	text-align: center;
	display: none;
}

#left{
	float: left;
	width: 19%;
	min-width: 175px;
}

#right_holder{
	float: left;
	padding-top: 25px;
	padding-left: 25px;
}

#right{
	float: left;
	width: 100%;
}

#right label{
	width: 180px;
}

label.error{
	color: red;
	font-size: .6em;
	width: auto;
}

input.error{
	color: red;
}

#login_error_message_div{
	margin-top: 10px;
	margin-right: 30px;
}

#login_error_message{
	color: red;
	font-size: .7em;
}

.even{
	background-color: #efefef;
}

.odd{
	background-color: #dcdcdc;

}

#welcome_message{
	width: 500px;
	margin-top: 15px;
	margin-right:auto;
	margin-left: auto;
	text-align: center;
	font-size: .9em;
}

.customer_link{
	text-decoration: none;
	font-size: .9em;
	font-weight: bold;
	color: white;
	min-width: 150px;
	height: 25px;
	padding-top: 5px;
	display: inline-block;
	text-align: center;
}

#add_customer_div{
	height: 390px;
	width: 420px;
	color: white;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	padding-top: 20px;
	padding-left: 25px;
	background-color: #333;
	background-image: url('../images/login_box_gradient.jpg');
	background-repeat: repeat-x;
	border: 3px ridge #333;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

#customer_admin_form h2{
	width: 125px;
	margin-right: auto;
	margin-left: auto;
}

#customer_admin_form label{
	display: inline-block;
	width: 190px;
	margin-bottom: 10px;
}

#customer_admin_form label.error{
	display: inline-block;
	font-size: 1.2em;
	width: auto;
	margin-bottom: 0px;
}

#customer_admin_form #submit_button{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

#ui-datepicker-div{
	font-size: 80%;
}

#newticket{
	margin-left: 25px;
}

h3{
	margin-left: 25px;
}

h4{
	text-shadow: #333 1px 1px 1px;
	white-space: nowrap;
}

#ticket_div{
	width: 1000px;
	margin-left: 15px;
	margin-top: 15px;
	border: 2px solid #333;
}

#customer_submit_button{
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
}

#ticket_group{
	background-color: #333;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	width: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#ticket_group a{
	color: white;
	text-decoration: none;
}

#title{
	display: block;
	width: 195px;
	font-size: 1.1em;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

.note{
	white-space: pre;
}

#ticket_details{
	width: 900px;
	margin-top: 15px;
	border: 2px solid #333;
}

#new_note{
	margin-left: 15px;
}

#update_ticket_button{
	margin-left: 15px;
}

h4{
	margin-left: 15px;
}

.note_div{
	padding-left: 15px;
	padding: 5px;
}

#attach{
	cursor: pointer;
}

#problem_details{
	width: 720px;
	display: inline-block;
	float: left;
}

#attach_div{
	width: 180px;
	height: 250px;
	display: inline-block;
	vertical-align: top;
	padding-top: 10px;
	padding-left: 5px;
	overflow: hidden;
	float: right;
}

#attach_div label{
	margin: 0px;
	margin-right: 5px;
	cursor: pointer;
	width: auto;
}

#add_notes_form{
	height: 260px;
}

#details{
	margin: auto;
	width: 390px;
	background-color: #fff;
	padding: 5px;
}

.dialog{
	display: none;
	text-align: left;
	border:2px solid #333;
	width: 400px;
}

#close_attach{
	float: right;
}
