#wrapper{
	float: left;
	margin-top: 5px;
	margin-left: 25px;
	min-width: 900px;
	width: 95%;
}

.header_text{
	padding-top: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
	text-align: center;
	font-weight: bold;
	font-size: 1.1em;
}

.multiselect{
	width: 460px;
	height: 250px;
	display: none;
}        

.associate_div{
	width: 40%;
	min-width: 460px;
	float: left;
}



.select_div{
	width: 457px;
}

.div_wrapper{
	height: 50px;
}

.group_title{
	width: 195px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 10px;
}

#modify_group_wrapper{
	height: 150px;
	width: 750px;
	margin-left: 50px;
	margin-top: 20px;
	padding-top: 20px;
	padding-left: 25px;
	color: white;
	background-color: #333;
	background-image: url('../images/login_box_gradient.jpg');
	background-repeat: repeat-x;
	border: 3px ridge #333;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

#group_to_user{
	height: 300px;
	width: 750px;
	margin-left: 50px;
	margin-top: 20px;
	padding-top: 20px;
	padding-left: 25px;
	color: white;
	background-color: #333;
	background-image: url('../images/login_box_gradient.jpg');
	background-repeat: repeat-x;
	border: 3px ridge #333;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

#del_group_div{
	float: left;
	width: 300px;
}

#add_group_div{
	float: left;
	width: 400px;
}

#select_group_div{
	width: 460px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
}

.ui-multiselect{
	width: 460px;
	margin-left: auto;
	margin-right: auto;
}

div.available{
	color: black;
}

#group_select_div{
	float: left;
}

#a_gu_append_div{
	width: 457px;
	margin-left: 15px;
	float: left;
}