#select_menu{
	width: 450px;
	float: left;
	padding-left: 10px;
}

#company_select_div{
	float: left;
}

#company_select_div img{
	vertical-align: middle;
}
#current_object_div{
	width: 100%;
	padding-top: 2px;
	height: 25px;
	background: #333333 url('../images/title_bg.jpg') repeat-x;
}

#current_object_div label{
	color: white;
	font-weight: bold;
	font-size: .8em;
	display: inline !important;
	vertical-align: top;
}

select{
	margin-bottom: 0px !important;
	margin-top: 0px !important;
	height: 20px;
	font-size: .8em !important;
	padding: 0px !important;
}

.select_menu_item{
	text-decoration: none;
	font-size: .8em;
	font-weight: bold;
	color: white;
	width: auto;
	min-width: 80px;
	height: 21px;
	padding-top: 4px;
	padding-left: 15px;
	padding-right: 15px;
	display: inline-block;
	text-align: center;
}

.wrapper{
	width: 95%;
}

#object_lookup{
	margin-top: 15px;
	height: 225px;
}

#object_details{
	font-size: .8em;
	position:fixed;
	background:#FFFFFF;
	z-index:20000;
	padding:12px;
	display: none;
	margin-top: 15px;
	width: 470px;
	height: 550px;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}

#behind_popup{
	display:none;
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	z-index:19999;
}

label.object_detail{
	clear: left;
	display: inline-block;
	margin-top: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 200px;
	height: 20px;
}

select.object_detail{
	clear: left;
	display: inline-block;
	margin-left: 0px;
	width: 200px;
	height: 20px;
}

input.object_detail{
	clear:right;
	padding-top: 2px;
	padding-bottom: 2px;
	height: 20px;
}

h2{
	text-align: center;
}

#update_object_form{
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	width: 100%;
}

.ui-jqgrid{
	margin-left: auto;
	margin-right: auto;
}

#object_details .image_button{
	margin-right: 10px;
}

#object_details h2{
	margin-bottom: 5px;
	text-shadow: #333 1px 1px 1px;
	white-space: nowrap;
	display: block;
}

input{
	margin-bottom: 0 !important;
	margin-top: 0 !important;
	padding: 0 !important;
	height: 20px !important;
}

#update_close{
	height: 17px;
	left: 463px;
	position: relative;
	top: -10px;
	width: 17px;
	cursor: pointer;
}
