.wrapper{
	float: left;
	border: 1px black solid;
	margin-top: 25px;
	margin-left: 25px;
	margin-bottom: 25px;
	margin-right: 25px;
	min-width: 700px;
}

#configure_top{
	float: left;
	width: 750px;
}

#configure_bottom{
	float: right;
	width: 500px;
}

.tp_div{
	_border: 1px red solid;
	width: 700px;
	height: 30px;
}

.submit_tp_div{
	width: 80px;
	height: 25px;
	margin-left: auto;
	margin-right: auto;
}

.tp_select{
	float: left;
}

label{
	_border: 1px green solid;	
	display: block;
	float: left;
	min-width: 70px;
	height: 25px;
	padding-left: 4px;
	padding-top: 4px;

}

input{
	float: left;
	margin-left: 4px;
	margin-top: 4px;
}

select{
	margin-left: 4px;
	margin-top: 4px;
}

.submit_button{
	float: right;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 4px;
}

.header_text{
	padding-top: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
	text-align: center;
	font-weight: bold;
	font-size: 1.1em;
}

.type_select{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4px;
}

.multiselect{
	width: 460px;
	height: 400px;
	display: none;
}        

#submit_a_tp{
	float: right;
	margin-right: 40px;
}

.onload_append{
	float: left;
}

#a_tp_append_div{
	float: left;
}

#t_tp_append_div{
	float: left;
}

.object_form_div{
	float: left;
	min-width; 400px;
}

.object_form_input{
	float: left;
}

.object_form_label{
	float: left;
}
