body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	min-width: 900px;
	font-family: tahoma,georgia,verdana;
}

#logo_div{
	width: 100%;
	height: 60px;
	background: url('../images/header_bg.jpg');
}

#logo{
	float: left;
	display: inline;
	height: 60px;
	width: 60px;
	margin-left: 15px;
}

#company_name{
	margin-right: 18px;
	float: right;
	color: white;
	font-size: 1.1em;
	font-weight: bold;
}

#menu{
	width: 100%;
	height: 35px;
	background-color: #333;
}

#menu a{
	text-decoration: none;
	color: white;
}

.hidden_menu{
	display: none;
}

.highlighted_link{
	background-color: black;
}

.tooltip{
	vertical-align: top;
}

 ul.topnav {  
     list-style: none;  
     padding: 0 20px;  
     margin: 0;  
     float: left;  
     width: 920px;  
     background: #222;  
     font-size: 1.1em;  
     background: url(topnav_bg.gif) repeat-x;  
 }  
 ul.topnav li {  
     float: left;  
     margin: 0;  
     padding: 0 15px 0 0;  
     position: relative; /*--Declare X and Y axis base for sub navigation--*/  
 }  
 ul.topnav li a{  
     padding: 10px 5px;  
     color: #000;  
     display: block;  
     text-decoration: none;  
     float: left;  
 }  
 ul.topnav li a:hover{  
     background: url(topnav_hover.gif) no-repeat center top;  
 }  
 ul.topnav li span { /*--Drop down trigger styles--*/  
     width: 17px;  
     height: 35px;  
     float: left;  
     background: url(../images/subnav_btn.gif) no-repeat center top;  
 }  
 ul.topnav li span.subhover {background-position: center bottombottom; cursor: pointer;} /*--Hover effect for trigger--*/  
 ul.topnav li ul.subnav {  
     list-style: none;  
     position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/  
     left: 0; top: 35px;  
     background: #333;  
     margin: 0; padding: 0;  
     display: none;  
     float: left;  
     width: 170px;  
     border: 1px solid #111;  
 }  
 ul.topnav li ul.subnav li{  
     margin: 0; padding: 0;  
     border-top: 1px solid #252525; /*--Create bevel effect--*/  
     border-bottom: 1px solid #444; /*--Create bevel effect--*/  
     clear: both;  
     width: 170px;  
 }  
 html ul.topnav li ul.subnav li a {  
     float: left;  
     width: 145px;  
     background: #333 url(dropdown_linkbg.gif) no-repeat 10px center;  
     padding-left: 20px;  
     font-size: .8em;
 }  
 html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/  
     background: #222 url(dropdown_linkbg.gif) no-repeat 10px center;  
 }
 
 #drop_shadow{
	width: 100%;
	height: 10px;
	background-image: url('../images/drop_shadow.png');
}