#wrapper{
	min-width: 900px;
	width: 95%;
	margin-left: 35px;
	margin-top: 20px;
	padding-top: 20px;
	padding-left: 25px;
	padding-bottom: 15px;
	color: white;
	background-color: #333;
	background-image: url('../images/login_box_gradient.jpg');
	background-repeat: repeat-x;
	border: 3px ridge #333;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

.header_text{
	padding-top: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
	text-align: center;
	font-weight: bold;
	font-size: 1.1em;
}

button.associate{
	display: inline-block;
}

.select_div{
	width: 457px;
}

.new_permission{
	min-width: 150px;
}

.odd{
	background-color: white;
	color: black
}


