div.header{
	height: 25px;
	background-color: #333;
	color: white;
	font-weight: bold;
	text-align: center;
}

div#query_builder{
	min-width: 200px;
	margin: 30px;
	width: 90%;
	height: auto;
	min-height: 172px;
	border: 1px black solid;
	overflow: auto;
}

div#query_permissions{
	min-width: 200px;
	margin: 30px;
	_width: 90%;
	width: 537px;
	height: auto;
	min-height: 300px;
	border: 1px black solid;
}

#query_builder select{
	min-width: 200px;
	margin-left: 4px;
}

label{
	display: inline-block !important;
	width: 80px;
}

select{
	margin-bottom: 0px !important;
}

button{
	float:left;
	margin-left: 4px;
}

#select_div{
	width: 100%;
	height: 35px;
	
}

#select_div div{
	display: inline-block;
}

#from_div{
	width: 100%;
	height: 35px;
}

#from_div div{
	display: inline-block;
}

#join_div_parent{
	width: 100%;
	min-height: 25px;
}

.join_div{
	width: 100%;
	height: 25px;
	text-align: center;
}

.join_div_element{
	float: left;
}

.where{
	text-align: center;
	width: 100%;
	height: 25px;
}

select.operator{
	float: left;
}

select.all_columns{
	float: left;
}

input.where_input{
	float: left;
	margin-left: 4px;
}

span.fl{
	float: left;
	width: 50px;
	white-space: pre-wrap;
}

.other_div{
	float: left;
	width: 100%;
	min-height: 25px;
}

#submit_div{
	float: left;
	width: 100%;
	height: 25px;
}

#associate_rp{
	width: 40%;
	min-width: 460px;
	min-height: 300px;
}
