.lower{
	z-index: -1;
}

.short_label{
	display: inline-block;
	width: 90px;
	text-align: right;
	margin-right: 5px;
	margin-top: 5px;
}

#problem_details{
	width: 725px;
	margin-top: 15px;
	margin-left: 15px;
	border: 1px solid black;
	padding: 10px;
	padding-left: 35px;
}

#author_div{
	width: 890px;
	border: 1px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 35px;
	margin-left: 15px;
}

.ticket_lookup{
	margin-top: 15px;
	width: 90%;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	border: 1px solid black;
}

table{
	width: 100%;
	border-collapse:collapse;
}

th{
	width: 25%;
	height: 30px;
	border-bottom: 1px solid black;
}

td{
	width: 25%;
	height: 30px;
}

.row_ticket_number{
	border-right: 1px solid black;
}

.row_ticket_status{
	border-right: 1px solid black;
}

.row_ticket_priority{
	border-right: 1px solid black;
}

.row_ticket_contact{
	border-right: 1px solid black;
}

#ticket_details{
	display: none;
	margin-top: 15px;
	width: 90%;
	height: 550px;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}

#update_form label{
	display: inline-block;
	width: 160px;
	text-align: right;
	margin-right: 5px;
	margin-top: 5px;
}

#update_form input{
	width: 170px;
	margin-right: 5px;
}

#update_form span{
	width: 170px;
	margin-right: 5px;
}

.error{
	color: red;
	font-size: .7em;
}

.ticket_lookup{
	display: none;
}

.section_header_div{
	margin-left: 50px;
	text-align: justify;
	font-weight: bold;
	font-size: 1.1em;
}

#past_troubleshoot{
	white-space: pre;
}

#problem{
	white-space: pre;
}

.ticket_section_toggle{
	cursor: pointer;
}