.lower{
	z-index: -1;
}

.short_label{
	display: inline-block;
	width: 90px;
	text-align: right;
	margin-right: 5px;
	margin-top: 5px;
}

#problem_details{
	width: 890px;
	margin-top: 15px;
	margin-left: 15px;
	border: 1px solid black;
}

#problem_details label{
	margin-left: 35px;
	margin-top: 5px;
	display: inline-block;
}

#problem_details textarea{
	margin-left: 35px;
}

#problem_details button{
	margin-left: 35px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#author_div{
	width: 890px;
	border: 1px solid black;
	margin-left: 15px;
}

#author_div label{
	margin-bottom: 10px;
	display: inline-block;
}

.ticket_lookup{
	margin-top: 15px;
	width: 90%;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	border: 1px solid black;
}

.lookup_row.selected{
	background-color: #757575;
	cursor: pointer;
}

table{
	width: 100%;
	border-collapse:collapse;
}

th{
	width: 150px;
	height: 30px;
	border-bottom: 1px solid black;
}

td{
	width: 150px;
	height: 30px;
}

.header_row{
	width: 100%;
	color: white;
	background-color: #333;
	height: 30px;
	font-size: 1.2em;
}

.row_ticket_number{
	border-right: 1px solid black;
}

.row_ticket_status{
	border-right: 1px solid black;
}

.row_ticket_priority{
	border-right: 1px solid black;
}

.row_ticket_contact{
	border-right: 1px solid black;
}

#ticket_details{
	display: none;
	margin-top: 15px;
	width: 90%;
	height: 550px;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}

#update_form label{
	display: inline-block;
	width: 160px;
	text-align: right;
	margin-right: 5px;
	margin-top: 5px;
}

#update_form input{
	width: 170px;
	margin-right: 5px;
}

#update_form span{
	width: 170px;
	margin-right: 5px;
}

.error{
	color: red;
	font-size: .7em;
}

.ticket_lookup{
	display: none;
}

.section_header_div{
	margin-left: 50px;
	text-align: justify;
	font-weight: bold;
	font-size: 1.1em;
}

#past_troubleshoot{
	white-space: pre-wrap;
	margin-left: 160px;
}

#problem{
	white-space: pre-wrap;
	margin-left: 160px;
}

#past_notes{
	white-space: pre-wrap;
	margin-left: 160px;
}

.ticket_section_toggle{
	cursor: pointer;
}

.form_title{
	width: 100%;
	color: white;
	background-color: #333;
	height: 30px;
	font-size: 1.2em;
}

#search_form{
	float: right;
	margin-right: 20px;
}

#search_form input{
	margin-left: 10px;
}