#update_button{
	width: 75px !important;
	height: 25px;
}

#details_wrapper{
	border: 1px solid black;
    margin-left: 15px;
    width: 890px;
	height: 230px;
}

#problem_wrapper{
	border: 1px solid black;
    margin-left: 15px;
	margin-top: 5px;
    width: 890px;
	float: left;
}

#details_wrapper label{
	display: inline-block;
	width: 100px;
	text-align: right;
	margin-right: 5px;
	margin-top: 5px;
}

#ticket_details{
	font-size: .8em;
	position:fixed;
	background:#FFFFFF;
	z-index:9000;
	padding:12px;
	padding-left: 0px;
	padding-right: 0px;
	display: none;
	margin-top: 15px;
	width: 940px;
	height: 550px;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}

#problem_div{
	width: 610px;
	margin-left: 15px;
	display: inline-block;
	float: left;
}

#problem_div textarea{
	white-space: pre-wrap;
	width: 578px;
}

#attached_div{
	width: 250px;
	height: 300px;
	margin-left: 5px;
	margin-top: 5px;
	float: left;
}

#ticket_details .form_title{
	font-size: .9em;
}

#attach_div label{
	margin: 0px;
	margin-right: 5px;
	cursor: pointer;
}

#attach_div{
	display: inline-block;
	width: 250px;
	margin: 0px !important;
}

#attach label{
	display: inline !important;
}

#details{
	margin: auto;
	width: 390px;
	background-color: #fff;
	padding: 5px;
}

.dialog{
	display: none;
	text-align: left;
	border:2px solid #333;
	width: 400px;
}

#close_attach{
	float: right;
}

#update_form select#technician{
	width: 175px;
}

#update_close{
	position: relative;
	top: -35px;
	width: 17px;
	left: 891px;
	height: 17px;
	cursor: pointer;
}
