.dialog{
	display: none;
	text-align: left;
	border:2px solid #333;
	width: 400px;
}

#details{
	margin: auto;
	width: 390px;
	background-color: #fff;
	padding: 5px;
}

#versions li{
	list-style-type: none;
	text-decoration: none;
}
