#add_user_div{
	height: 300px;
	width: 375px;
	margin-left: 35px;
	margin-top: 20px;
	padding-top: 20px;
	padding-left: 25px;
	color: white;
	background-color: #333;
	background-image: url('../images/login_box_gradient.jpg');
	background-repeat: repeat-x;
	border: 3px ridge #333;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	float: left;
}

#user_to_group{
	height: 300px;
	width: 475px;
	margin-left: 35px;
	margin-top: 20px;
	padding-top: 20px;
	padding-left: 25px;
	color: white;
	background-color: #333;
	background-image: url('../images/login_box_gradient.jpg');
	background-repeat: repeat-x;
	border: 3px ridge #333;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	float: left;
}

h3{
	width: 325px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

label{
	display: inline-block;
	width: 170px;
	margin-bottom: 10px;
}

#submit_button{
	display: block;
	width: 75px;
	margin-left: auto;
	margin-right: auto;
}