#add_user_div{
	height: 270px;
	width: 375px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	padding-top: 20px;
	padding-left: 25px;
	color: white;
	background-color: #333;
	background-image: url('../images/login_box_gradient.jpg');
	background-repeat: repeat-x;
	border: 3px ridge #333;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

h2{
	width: 125px;
	margin-right: auto;
	margin-left: auto;
}

label{
	display: inline-block;
	width: 170px;
	margin-bottom: 10px;
}

#submit_button{
	display: block;
	width: 75px;
	margin-left: auto;
	margin-right: auto;
}
