#left{
	float: left;
	height: 600px;
	width: 19%;
	min-width: 175px;
}

#right_holder{
	float: left;
	height: 575px;
	width: 75%;
	padding-top: 25px;
	padding-left: 25px;
}

#right{
	float: left;
	height: 100%;
	overflow: auto;
	width: 100%;
}

.wo_link{
	text-decoration: none;
	font-size: .9em;
	font-weight: bold;
	color: white;
	min-width: 150px;
	height: 25px;
	padding-top: 5px;
	display: inline-block;
	text-align: center;
}

table{
	width: 100%;
	border-collapse:collapse;
}

th{
	width: 150px;
	height: 30px;
	border-bottom: 1px solid black;
}

td{
	width: 150px;
	height: 30px;
}

.header_row{
	width: 100%;
	color: white;
	background-color: #333;
	height: 30px;
	font-size: 1em;
}

.row_ticket_number{
	border-right: 1px solid black;
}

.row_ticket_status{
	border-right: 1px solid black;
}

.row_assigned_technician{
	border-right: 1px solid black;
}

.row_step_number{
	border-right: 1px solid black;
}

.row_step_section{
	border-right: 1px solid black;
}

.lookup_row.selected{
	background-color: #757575;
	cursor: pointer;
}

#wo{
	background-color: #333;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	width: 150px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#wo a{
	color: white;
	text-decoration: none;
}

.selected{
	background-color: #777;
}

#ticket_details{
	position:fixed;
	background:#FFFFFF;
	z-index:2;
	padding:12px;
	display: none;
	margin-top: 15px;
	width: 90%;
	height: 550px;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}

#update_form label{
	display: inline-block;
	width: 160px;
	text-align: right;
	margin-right: 5px;
	margin-top: 5px;
}

#update_form input{
	width: 170px;
	margin-right: 5px;
}

#update_form span{
	width: 170px;
	margin-right: 5px;
}

#past_troubleshoot{
	white-space: pre-wrap;
	margin-left: 160px;
}

#problem{
	white-space: pre-wrap;
	margin-left: 160px;
}

#past_notes{
	white-space: pre-wrap;
	margin-left: 160px;
}

#behind_popup{
	display:none;
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	z-index:1;
}

.disabled{
	background-color: #3e3e3e;
	cursor: arrow;
}
